*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, sans-serif;
    background-color: #E2E8F0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202329;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5em;
}

header .btn-add{
    background-color: #1992D4;
    border-radius: 10px;
    padding: 0.5em;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    position: relative;
}

header .btn-add:active{
    top: 1px;
}

main{
    padding: 1.5em 2.5em;
}

main h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

main .result{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

dialog{
    margin: auto;
    padding: 1em;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px); 
}

dialog form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

article{
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
}

footer{
    text-align: center;
    background-color: #202329;
    color: #fff;
    padding: 1em;
}